<div class="header">
    <img src="/assets/images/Vector.png" alt="" height="50px">
</div>


<div class="picture">
    <div class="image">
        <img src="/assets/images/3 2.png" alt="">
    </div>
    <div class="info">
        <h1>  Hi <span class="light" >Gideon </span>, </h1>
        <p> Welcome back</p>

    </div>
   
</div>

<div class="nav">
    <div class="edit">
        <img src="/assets/images/edit_square.png" alt="edit">
         <p> Edit Profile</p>
    </div>
    <div class="activity">
        <img src="/assets/images/ads_click.png" alt="">
        <p> Activity Log</p>
    </div>
    
    <div class="history">
        <img src="/assets/images/history.png" alt="">
        <p> Lorem ipsum</p>

    </div>
    
</div>


