@import '~bootstrap/dist/css/bootstrap.css';

.carousel-item{
    width: 900px;
    margin-left: 280px;
}

.carousel-control-prev-icon{
    margin-right: 10px;
    background-color:rgb(115, 110, 110);
}
.carousel-control-next-icon{
    margin-left: 10px;
    background-color:rgb(115, 110, 110);

}

@media screen and (max-width: 905px) {

    .carousel-item{
        width: 600px;
        margin-left: 145px;
    }
    .carousel-control-next-icon{
        margin-left: 5px;
    
    }

}

@media screen and (max-width: 600px) {
    .carousel-item{
        width: 350px;
        margin-left: 120px;
    }
    .carousel-control-next-icon{
        margin-left: 5px;
        width: 15px;
    
    }
    .carousel-control-previous-icon{
        width: 15px;
        margin-right: 5px;
    }

}
