@import '~bootstrap/dist/css/bootstrap.css';
.carousel-item{
    width: 600px;
    margin-left: 405px;
}


.carousel-control-prev-icon{
    margin-right: 10px;
    background-color:rgb(249, 244, 244);
}
.carousel-control-next-icon{
    margin-left: 10px;
    background-color:rgb(115, 110, 110);

}

@media screen and (max-width: 905px) {

    .carousel-item{
        width: 600px;
        margin-left: 145px;
    }
    .carousel-control-next-icon{
        margin-left: 5px;
    
    }
    .carousel-control-prev-icon{
        margin-right: 5px;
    }

}

@media screen and (max-width: 600px) {
    .carousel-item{
        width: 300px;
        margin-left: 50px;
    }
    .carousel-control-next-icon{
        margin-left: 5px;
        width: 15px;
    
    }
    .carousel-control-previous-icon{
        width: 15px;
        margin-right: 5px;
    }

}

@media screen and (max-width: 360px) {
    .carousel-item{
        width: 300px;
        margin-left: 30px;
    }
    .carousel-control-next-icon{
        margin-left: 7px;
        width: 9px;
    
    }
    .carousel-control-previous-icon{
        width: 9px;
        margin-right: 7px;
    }


}



@media screen and (min-width: 760px) {
    .carousel-item{
        // margin-left: 100px;
        width: 600px;
    }


}