<div class="discover">
    <div class="info">
        <h2>  Discover  </h2>
        <p> In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form <br>of a document or a typeface without relying on meaningful content.   </p>
    </div>
 

    <div class="cards  row-cols-1 row-cols-md-3 g-4">
    <mat-card>
        <img src="\assets/images/tick.png" class="card-img-top"  width="50px"alt="icon">
        <mat-card-content>
          <h3 class="card-title">My Tasks</h3>  
          <p class="card-text">Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img src="\assets/images/grid.png" class="card-img-top"  width="50px"alt="icon">
        <mat-card-content>
          <h3 class="card-title">My Apps</h3>  
          <p class="card-text">Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img src="\assets/images/home.png" class="card-img-top"  width="50px"alt="icon">
        <mat-card-content>
          <h3 class="card-title">My Gvt</h3>  
          <p class="card-text">Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
        </mat-card-content>
      </mat-card>
    </div>
</div>
