h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;

}

.info {
    margin-left: 150px;
    padding: 40px;
    margin-top: 40px;
}

.info p {
    font-size: 23px;
    line-height: 1.5;

}

.discover {
    background-image: url('/assets/images/In banner 1.png');
    background-size: cover;
    background-position: center;
    color: white;
}


.cards-container {
    margin: 20px;
    
  }
  .cards {
    display: flex;
    flex-direction: row;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-content {
    text-align: center;
  }

.card-title {
    font-size: 27px;
    padding: 10px;
}

mat-card {
    background-color: #006A61;
    margin: 20px;
    border-radius: 26px;
    margin-bottom: 30px;
    padding: 20px;


}

mat-card:hover {
    background-color: #6DC1B5;
}


@media screen and (max-width: 1100px) {

    .info {
        margin-left: 50px;
    }

    .card {
        margin: 20px;
    }

}


@media screen and (max-width: 900px) {

    .info {
        margin-left: 40px;
    }

}


@media screen and (max-width: 620px) {

    .info {
        margin: 15px;
        background-image: url('/assets/images/In banner 1.png');
        background-size: cover;
        background-position: center;
        color: white;
    }

    .discover {
        background-image: none;
        background-color: whitesmoke;

    }

    .cards {
        flex-direction: column;
        margin: 40px;
    }

    mat-card img {
        // margin-left: 200px;
    }

    mat-card-content {
        padding: 20px;
    }

}






@media screen and (max-width: 320px) {


    .info p {
        font-size: 13px;
        line-height: 1.5;
    }


}

@media screen and (max-width: 160px) {

    .cards {
        margin: 2px;
        width: 130px;

    }



    h2 {
        font-size: 10px;
        font-weight: 100px;
    }

    .info p {
        font-size: 5px;
        line-height: 0.5;

    }

}