

h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;

}
.info{
    margin-left: 150px;
    padding: 40px;
}
.info p{
    font-size: 23px;
    line-height: 1.5;

}



.discover{
    background-image: url('/assets/images/In banner 1.png');
    background-size: cover;
    background-position: center;
    color: white;

}

.cards{
display: flex;
justify-content: space-between;
margin-top: 30px;
margin-left: 170px;
margin-right: 120px;

}
.card-title{
    font-size: 27px;
    padding: 10px;
}
mat-card{
    background-color: #006A61;
    margin-right: 20px; 
    border-radius: 26px;
    margin-bottom: 30px;
    padding: 20px;
   
}
mat-card img{
    margin-left: 150px;
    margin-top: 20px;
}

mat-card:hover{
  background-color: #6DC1B5;  
}
mat-card-content{
    text-align: center;
 }
 @media screen and (max-width: 905px) {

    .info{
        margin-left: 50px;
    }

    .cards{
        margin-left: 120px;
    }
    mat-card-content{
        padding: 25px;
    
    }
    mat-card img{
        margin-left: 55px;
        margin-top: 20px;
    }
 
    
 }

 @media screen and (max-width: 600px) {

.info{
    margin: 10px;
    background-image: url('/assets/images/In banner 1.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.discover{
    background-image: none;
    background-color: whitesmoke;

}
.cards{
    flex-direction: column;
    margin: 20px;
}
mat-card img{
    margin-left: 140px;
}
mat-card-content{
    padding: 20px;
}




 }